{% load static %} <!--через слово static мы будем подключать любые графические изображения если они у нас статические и не лежат в БД, либо стили css, если нам надо подгрузить PDF документ какой та, нам надо указать load static, его нужно указывать выше первого применения static-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--static - что мы подключаем статические файлы, нам нужно указать к static папке основной путь мы уже прописали в urls а дальше дописываем путь к папке css.-->
    <!--через слово static мы будем подключать любые графические изображения если они у нас статические и не лежат в БД, либо стили css, если нам надо подгрузить PDF документ какой та, нам надо указать load static, его нужно указывать выше первого применения static-->
</head>
<body>
<div class="container">
    <h1>Генератор паролей</h1>
    <!--Наша форма должна обрабатывать в action пишем password, куда по факту мы перейдем.-->
    <form action="{% url 'password' %}">  <!--Когда мы работаем с формой length это имя данные которое мы получаем ? это Get параметры = 2 это параметры которые мы выбрали action - что мы должны обрабатывать в форму передадим password. Это путь куда мы дальше нажмем на кнопку сгенерировать пароль мы перейдем на password, так как в пути мы ее указали. Теперь когда мы нажали на сгенерировать пароль, у нас get по умолчанию отправка данных параметры уже только после password прописались. -->
        <p><select name="length"> <!-- length - имя которое передаем в функцию password в запрос тег выпадающий список http://htmlbook.ru/html/select-->
            {% for i in lst %}
            {% if i == 12 %}
            <option value="{{i}}" selected>{{i}}</option> <!--selected - означает что элемент будет выбран-->
            {% else %}
            <option value="{{i}}">{{i}}</option> <!--else - означает что все остальное-->
            {% endif %} <!--закрытие if-->
            {% endfor %} <!--закрытие for-->
        </select> Количество символов</p>
        <!--Мы должны указать что в этот пароль добавлять, верхний регистр, цифры, спец символы.-->
        <p>
            <input type="checkbox" name="uppercase"> Верхний регистр<br> <!--Если это у нас форма, в HTML это было не важно, то что бы получить доступ к данным этой формы мы должны указывать name .-->
            <input type="checkbox" name="numbers"> Цифры<br>
            <input type="checkbox" name="special"> Спецсимволы<br>
        </p>
        <input type="submit" value="Сгенерировать пароль"> <!-- кнопка submot отправить имя кнопки value сгенерировать пароль  -->
    </form>
</div>
</body>
</html>
<!-- -->